<div class="relative inline-block">
  <div (click)="toggle()">
    <ng-content select="[trigger]" />
  </div>
  @if (isOpen) {
    <div
      class="absolute z-50 rounded-md border border-border bg-popover p-1.5 text-popover-foreground shadow-md"
      [class]="contentClass"
      [class.left-full]="side === 'right'"
      [class.ml-2]="side === 'right'"
      [class.top-0]="side === 'right' && align === 'start'"
      [class.top-full]="side === 'bottom'"
      [class.mt-1]="side === 'bottom'"
    >
      <ng-content />
    </div>
  }
</div>
